.DS_Store
**/.DS_Store
project1-boptest-0.7.1-2/service/provision/boptest_submit/__pycache__/__main__.cpython-38.pyc
project1-boptest-0.7.1-2/service/worker/requirements/production.txt
project1-boptest-0.7.1-2/service/provision/boptest_submit/__pycache__/boptest_submit.cpython-38.pyc
